* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}


:root {
    --white: #fff;
    --blue: #3c368c;
    --darkblue: #31136b;
    --grey: #707070;
    --yellow: #feac01;
    --purle: #c065de;
    --poppins: 'Poppins';
    --roboto: 'Roboto';
    --offwhite: #f5f5f5;
    --lightyellow: rgba(254, 172, 1, .5);
}
html , body{
    scroll-behavior: smooth;
}
.container {
    width: 1140px;
    margin: auto;
    position: relative;
    /* border: 2px solid red; */
}

/* Decoration */
.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.yellow {
    border: 2px solid yellow;
}

.pink {
    border: 2px solid pink;
}

.blue {
    border: 2px solid blue;
}

/* Font Family */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--poppins);
}

p {
    font-family: var(--roboto)
}

/* text decoration */
a {
    text-decoration: none;
}

/* Width */
.w-10 {
    /* border: 2px solid green; */
    width: 10%;
    padding: 10px;
}

.w-15 {
    width: 15%;
    padding: 10px;
}

.w-20 {
    /* border: 2px solid yellow; */
    width: 20%;
    padding: 10px;
}

.w-25 {
    width: 25%;
    padding: 10px;
}

.w-30 {
    /* border: 2px solid pink; */
    width: 30%;
    padding: 10px;
}

.w-31 {
    width: 31%;
    padding: 10px;
}

.w-32 {
    width: 32%;
    padding: 10px;
}

.w-33 {
    width: 33%;
    padding: 10px;
}

.w-35 {
    width: 35%;
    padding: 10px;
}

.w-40 {
    /* border: 2px solid blue; */
    width: 40%;
    padding: 10px 0px;
}

.w-45 {
    width: 45%;
    padding: 10px;
}

.w-50 {
    width: 50%;
    padding: 10px 0px;
}

.w-55 {
    width: 55%;
    padding: 10px 0px;
}

.w-60 {
    width: 60%;
    padding: 10px 0px;
}

.w-70 {
    width: 70%;
    padding: 10px;
}

.w-75 {
    width: 75%;
    padding: 10px;
}

.w-80 {
    width: 80%;
    padding: 10px;
}

.w-90 {
    width: 90%;
    padding: 10px;
}

.w-95 {
    width: 95%;
    padding: 10px;
}

.mx-auto {
    margin: auto;
}

/* padding */
.py-100 {
    padding: 100px 0px;
}

.pyt-100 {
    padding-top: 100px;
}

.pyb-100 {
    padding-bottom: 100px;
}

/* alignment */
.row {
    display: flex;
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.content-center {
    align-content: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

img {
    width: 100%;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

/* Colors */
.white {
    color: var(--white);
}

.blue {
    color: var(--blue);
}

.grey {
    color: var(--grey);
}

.purple {
    color: var(--purle);
}

.yellow {
    color: var(--yellow);
}

/* Fonts */
.poppins {
    font-family: var(--poppins);
}

.roboto {
    font-family: var(--roboto);
}

ul {
    list-style: none;
}

/* header */
header {
    /* background-color: #593087; */
    background-color: transparent;
    position: fixed;
    /* top: 0; */
    width: 100%;
    z-index: 999999;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.home {
    position: relative;
}

.home .mini-menu {
    width: 210px;
    height: 200px;
    display: flex;
    padding: 10px;
    background-color: var(--purle);
    margin-top: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 25px;
    left: -20px;
    border-top: 3px solid var(--yellow);
    z-index: 99999;
}

.home .mini-menu ul li a {
    display: flex;
    flex-wrap: wrap;
    padding: 4% 0px;
}

.home:hover .mini-menu {
    opacity: 1;
    visibility: visible;
}

/* Banner */
.banner-bg {
    width: 100%;
    background-position: center;
    height: 125vh;
    background-image: url("../img/header-background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-bg a {
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 38px;
}

.banner-bg h1 {
    margin-bottom: 30px;
    line-height: 68px;
}

.banner-bg p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.banner-bg span {
    font-weight: 600;
}

.content p {
    font-size: 18px;
}

.head-btn {
    width: 170px;
    height: 45px;
    background-color: var(--purle);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    align-items: center;
}

.head-btn .svg {
    transition: all 0.5s;
    color: var(--yellow);
    margin-right: 5px;
    z-index: 2;
}

.head-btn::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transition: all 0.5s;
    z-index: -2;
    transform: translateX(150px) translateY(-100px) rotate(45deg);
}

.head-btn:hover::after {
    transform: translateX(0px);
}

.head-btn::before {
    content: "";
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    background-color: var(--yellow);
    transition: all 0.5s;
    transform: translatex(-150px) translateY(-100px) rotate(-45deg);
}

.head-btn:hover::before {
    transform: translateX(0px);
}

.head-btn:hover .svg {
    color: var(--white);
}

/* center div */
.banner {
    position: relative;
}

.center-div {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 270px;
    width: 270px;
    border-radius: 100%;
    background: rgb(86, 48, 132);
    background: linear-gradient(157deg, rgba(86, 48, 132, 1) 10%, rgba(41, 35, 86, 1) 89%);
    left: -60px;
    top: -90px;
    line-height: 25px;
}

.centeral-div {
    display: flex;

    flex-wrap: wrap;
}

.per {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    padding: 0px 10px;
    transform: translateY(5px);
}

.perc {
    font-size: 60px;

}

.off {
    /* padding-top: 10px; */
    transform: translateY(5px);
}

.h-1 {
    font-size: 100px;
    font-weight: 550;
    display: flex;
    align-items: center;
}

.h-2 {
    font-weight: 700;
    font-size: 45px;
}

.h-2 .off {
    font-size: 25px;
    color: var(--yellow);
}

.h-3 {
    color: var(--yellow);
    letter-spacing: 1px;
}

/* left-content */
.header-img {
    height: 110%;
    position: absolute;
    right: -180px;
    top: 100px;
    padding: 0;
    animation: float 2s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);

    }
}

/* 1st section */
.section-2 {
    margin: auto;
    /* border: 2px solid red; */
    position: relative;
}

.section-2 p {
    color: var(--grey);
}

.sec-2-cross {
    position: absolute;
    top: 0;
    left: 0;
}

.main-container {
    display: flex;
    /* border: 2px solid green; */
}

/* :left containt */
.left-container {
    /* border:2px solid green; */
    padding: 20px;
}

.header-container-sec-1 {
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.header-container-sec-1 h2 {
    color: var(--blue);
    line-height: 48px;
    padding-bottom: 10px;
}

.main-container-2 {
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

.sec-2-container {
    /* text-align: justify; */
    padding: 0px 15px;
}

.sec-2-container .cont-img {
    padding: 0px;
    margin-bottom: 25px;
}

.cont-detail h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--blue);
}

.cont-detail p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Right .containt */
.right-container {
    position: absolute;
    top: 150px;
    right: -100px;
    animation: float 2s linear infinite;
}

/* section 3 */
.section-3 {
    background-image: url("../img/boxes-background.svg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left center bottom;
    /* background-repeat: no-repeat; */
}

.sec-3-main {
    margin: auto;
}

.sec-3-head {
    text-align: center;
    padding-bottom: 50px;
    margin: auto;
}

.sec-3-head h2 {
    color: var(--blue);
    font-size: 38px;
}

.sec-3-head p {
    font-size: 16px;
    color: var(--grey);
}

.sec-3-boxes {
    background-color: var(--white);
    padding: 0px;
    transition: all 0.5s;
    position: relative;
}

.sec-3-boxes .cont-detail {
    padding: 30px;
}

.sec-3-boxes .cont-img {
    background-color: var(--offwhite);
    display: flex;
    padding: 15px;
    justify-content: center;
}

.sec-3-boxes .order-btn {
    position: absolute;
    top: 23%;
    left: 28%;
    width: 160px;
    padding: 10px 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    background-color: var(--purle);
    border: none;
}

.order-btn:hover {
    background-color: var(--yellow);
}

.sec-3-boxes:hover .order-btn {
    visibility: visible;
    opacity: 1;
}

.heading h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-sec {
    margin-bottom: 15px;
}

.price {
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--yellow);
}

.price-2 {
    font-size: 22px;
    font-weight: 400;
    color: var(--grey);
    text-decoration: line-through;
}

.list ul li {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--grey);
}

.list ul li:last-child {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--grey);
}

.list ul li i {
    color: var(--yellow);
    margin-right: 10px;
}


/* section-4 */
.section-4 {
    height: 100%;
    background-image: url("../img/background-2.svg");
    background-repeat: no-repeat;
    padding: 100px 80px 10px 100px;

}

.sec-4-boxes {
    border: 2px solid var(--purle);
    padding: 50px 15px 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
}

.sec-4-head {
    text-align: center;
    color: var(--white);
}

.sec-4-head h2 {
    margin-bottom: 15px;
}

.sec-4-head p {
    padding-bottom: 10px;
    line-height: 24px
}

.sec-boxes {
    padding: 0px 15px;

}

.sec-4-main {
    margin: auto;
}

.sec-4-main {
    display: flex;
    flex-wrap: wrap;
}

.img-sec {
    margin-bottom: 15px;
}

.cont-sec h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.foot-img {
    transform: translateY(26px);
}


/* Section-5 */
.section-5 {
    background-image: url("../img/section-5.svg");
    background-repeat: no-repeat;
}

.main-container {
    padding: 120px 0px 120px;
    display: block;
    margin: auto;
}

.top-container {
    margin-bottom: 60px;
}

.img-con {
    animation: float 2s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);

    }
}

.contain-cont {
    /* margin-top: 80px;
    margin-bottom: 60px; */
    align-content: center;
    padding: 0px 15px;
}

.contain-cont h2 {
    font-size: 38px;
    color: var(--blue);
    margin-bottom: 25px;
}

.contain-cont p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px;
    color: var(--grey);
}

.contain-cont ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--grey);
}

.contain-cont ul {
    margin-bottom: 25px;
    font-size: 16px;
    color: var(--grey);
}

.contain-cont ul li i {
    color: var(--yellow);
    margin-right: 5px;
}

.sec-5-btn {
    width: 170px;
    height: 45px;
    background-color: var(--yellow);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    align-items: center;
}

.sec-5-btn:hover {
    color: var(--white);
    background-color: transparent;
}

.sec-5-btn .svg {
    transition: all 0.5s;
    color: black;
    margin-right: 5px;
    z-index: 2;
}

.sec-5-btn::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transition: all 0.5s;
    z-index: -2;
    transform: translateX(150px) translateY(-100px) rotate(45deg);
}

.sec-5-btn:hover::after {
    background-color: var(--yellow);
    transform: translateX(0px);
}

.sec-5-btn::before {
    content: "";
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    background-color: var(--yellow);
    transition: all 0.5s;
    transform: translatex(-150px) translateY(-100px) rotate(-45deg);
}

.sec-5-btn:hover::before {
    transform: translateX(0px);
    background-color: var(--yellow);
}

.sec-5-btn:hover .svg {
    color: var(--white);
}

/* section-6 */
.section-6 {
    background-image: url("../img/earth.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
}

.sec-6-main {
    display: flex;
    flex-wrap: wrap;
    padding: 110px 0px 110px 0px;
}

.sec-6-cont {
    color: var(--white);
    padding-bottom: 30px;
    padding-top: 0px;
    text-align: center;
}

.sec-6-cont h2 {
    font-size: 38px;
    font-size: 700;
    margin-bottom: 15px;
}

.sec-6-cont p {
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.sec-6-video {
    transform: translateY(30px);
}

/* section-7 */

.section-7-boxes {
    margin-top: 80px;
    margin-bottom: 50px;
}

.boxes-7 {
    border: 1px solid var(--purle);
    padding: 30px 15px 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(black);
    position: relative;
}
.boxes-7:hover
{
    
}
.sec-7-cont {
    text-align: center;
    margin: auto;
    padding: 0px 15px;
}

.sec-7-cont h2 {
    font-size: 38px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 48px;
    color: var(--blue);
}

.sec-7-cont p {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    color: var(--grey);
    text-align: center;
}

.sec-7-boxes {
    margin-top: 30px;
    position: relative;
}


.sec-7-boxes .img-sec {

    position: absolute;
    top: -55px;
    left: 35%;
    border: 5px solid var(--darkblue);
    border-radius: 50%;
    display: flex;
}

.img-sec .sec-7-img {
    align-self: center;
}

.quote {
    fill: var(--blue);
    margin-top: 10px;
    padding: 35px 15px 15px;
}

.cont-sec {
    padding: 0px 15px;
}

.cont-sec p {
    text-align: center;
    color: var(--grey);
    margin-bottom: 16px;
}

.fa-star {
    color: var(--yellow);
}

.cont-sec h5 {
    font-size: 20px;
    font-weight: 500;
    color: var(--blue);
    margin: 5px 0px 5px;
}

.cont-sec h6 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grey);
    margin-bottom: 15px;
}

.dots {
    text-decoration: none;
    color: var(--yellow);
    display: flex;
    justify-content: center;
}

.fa-circle {
    margin-right: 5px;
}

/* section-8 */
.section-8 {
    position: relative;
}

.design-img {
    width: 400px;
    position: absolute;
    top: -200px;
    left: -160px;
}

.left-contain-8 {
    padding: 0px 15px;
}

.details {
    padding-bottom: 30px;
}

.left-contain-8 .details h2 {
    font-size: 38px;
    margin-bottom: 15px;
    line-height: 48px;
    color: var(--blue);
}

.left-contain-8 .details p {
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 10px;
}

.email input {
    width: 70%;
    height: 60px;
    background-color: #adabf4;
    border: none;
    padding-left: 15px;
    font-size: inherit;
}

.subscribe-btn {
    width: 30%;
    margin-left: -5px;
    height: 60px;
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--blue);
    transition: all 0.2s ease;
}

.subscribe-btn:hover {
    background-color: var(--yellow);
}

.right-contain-8 {
    /* border: 2px solid green; */
    padding: 0px 15px;
}

/* footer section */
footer {
    width: 100%;
    padding-top: 65px;
    background-color: #593087;
    position: relative;
    z-index: 1;
}

footer::after {
    content: "";
    background-image: url("../img/footer-background.png");
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.09;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

footer a {
    color: var(--white);
}

.footer-section {
    text-transform: uppercase;
}

.footer-logo {
    margin-bottom: 52px;
}

.navigation {
    margin-bottom: 60px;
}

.points {
    transition: all 0.3s;
}

.points:hover {
    color: var(--yellow);
}

.pipe {
    font-weight: 100;
}

.social-media {
    margin-bottom: 70px;
}

.footer-line {
    font-size: 18px;
    padding: 18px;
    text-align: center;
}

.social {
    background-color: #6f62b5;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
    transition: all 0.5s;
}

.social:hover {
    background-color: var(--yellow);
}

/* Product page */
.product-banner {
    width: 100%;
    padding-top: 65px;
    background-color: #593087;
    position: relative;
    z-index: 1;
}

.product-banner::after {
    content: "";
    background-image: url("../img/footer-background.png");
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.09;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.products-review .sec-3-boxes {
    background-color: var(--white);
    padding: 0px;
    transition: all 0.5s;
    position: relative;
}

.products-review .sec-3-boxes .cont-detail {
    padding: 30px;
}

.products-review .sec-3-boxes .cont-img {
    background-color: var(--offwhite);
    display: flex;
    padding: 15px;
    justify-content: center;
}

.products-review .sec-3-boxes .order-btn {
    position: absolute;
    top: 20%;
    left: 27%;
    width: 150px;
    padding: 10px 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    background-color: var(--purle);
    border: none;
}

.order-btn:hover {
    background-color: var(--yellow);
}

.products-review .sec-3-boxes:hover .order-btn {
    visibility: visible;
    opacity: 1;
}


.banner-contain {
    text-transform: uppercase;
    color: var(--white);
}

.banner-contain h1 {
    font-size: 58px;
    line-height: 87px;
}

.banner-contain {
    font-weight: 400;
}

.banner-contain a {
    color: var(--white);
    margin-right: 5px;
}

.left-list {
    padding: 0px 15px;
}

.aside-heading {
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    padding: 5px 15px;
    color: var(--blue);
    background-color: var(--lightyellow);
    margin-bottom: 15px;
    font-family: var(--poppins);
}

.range-meter {
    width: 100%;

}

.checkbox {
    height: 15px;
    margin-right: 10px;
    width: fit-content;
}

label {
    font-size: 16px;
    color: var(--grey);
    font-family: var(--roboto);
}

.seclection {
    margin-bottom: 30px;
    padding: 0px;
}

span {
    display: block;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
}

/* right side */
.right-list {
    padding: 0px 15px;
}

.right-head-filter {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 15px 25px;
}

.sort-by {
    font-size: 18px;
}

.sort-by label {
    padding-right: 10px;
}

.company {
    border: 1px solid gray;
    width: 180px;
    padding: 5px 10px;
}

.choose-name .company {

    border: none;
}

.products-review {
    display: flex;
    flex-wrap: wrap;
}

.products {
    padding: 10px 15px 10px 0px;
}

.productss {
    padding: 10px 0px 10px 15px;
}

/* contact us page  */
/* section 1 */
.contact-details {
    text-align: center;
    padding-bottom: 30px;
}

.contact-details h2 {
    font-size: 38px;
    margin-bottom: 15px;
    color: var(--blue);
    font-family: var(--poppins);
}

.contact-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--grey);
    font-family: var(--roboto);
    line-height: 26px;
}

/* bottom detail */
.box-1 {
    display: block;
    padding: 30px 0px;
    border: none;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.415);
}

.box-1,
a {
    text-align: center;
    color: var(--grey);
    font-size: 18px;
    font-family: var(--poppins);
}

.box-1 .img {
    width: 30%;
    margin-bottom: 15px;
    padding: 5px;
}

.inputs {
    display: flex;
    justify-content: space-between;

}

.inputs input {
    width: 50%;
    padding: 15px 15px;
    border: none;
    font-family: var(--roboto);
    font-size: 16px;
    margin-bottom: 15px;
}

.inputs textarea {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-family: var(--roboto);
    margin-bottom: 18px;
}

.contact-btn {
    width: 170px;
    height: 45px;
    background-color: var(--purle);
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    align-items: center;
}

.contact-btn .svg {
    transition: all 0.5s;
    color: var(--yellow);
    margin-right: 5px;
    z-index: 2;
}

.contact-btn::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transition: all 0.5s;
    z-index: -2;
    transform: translateX(150px) translateY(-100px) rotate(45deg);
}

.contact-btn:hover::after {
    transform: translateX(0px);
}

.contact-btn::before {
    content: "";
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    background-color: var(--yellow);
    transition: all 0.5s;
    transform: translatex(-150px) translateY(-100px) rotate(-45deg);
}

.contact-btn:hover::before {
    transform: translateX(0px);
}

.contact-btn:hover .svg {
    color: var(--white);
}

/* blog page */
/* left  */
.search-bar {
    border: none;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f5;
    padding: 15px 25px 15px 25px;
    margin-bottom: 30px;
}

.fa-magnifying-glass {
    color: var(--darkblue);
}

.search {
    background-color: transparent;
    border: none;
}

.top-head {
    padding: 20px 25px 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
    color: var(--blue);
}

.list {
    display: flex;
    justify-content: space-between;
}

.bottom ul li {
    /* display:flex; */
    align-content: center;
}

.bottom ul li div {
    color: var(--blue);
    margin-bottom: 11px;
}

.fa-play {
    margin-right: 10px;
    color: var(--yellow);
}

.bottom {
    padding: 0px 30px 30px;
}

.widget {
    margin-bottom: 30px;
    border: none;
    background-color: #f3f3f5;
}

.post-content .title {
    color: var(--blue);
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.fa-calendar-days {
    color: var(--yellow);
    margin-right: 10px;
}

.widget-post {
    margin-bottom: 10px;
}

.widget-post p {
    color: var(--grey);
}

.bottom-section .heading {
    margin: 25px 0px 15px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--grey);
}

.bottom-section .heading a h1 {
    font-size: 29px;
    color: var(--darkblue);
    text-align: start;
}

.info p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    padding-bottom: 15px;
}

.fa-padding {
    padding-right: 10px;
    color: var(--yellow);
}

.artical-1 {
    box-shadow: 5px 2px 10px rgba(128, 128, 128, 0.415);
    margin-bottom: 30px;
}

.bottom-section {
    padding: 10px 30px 15px 30px;
    text-align: justify;
}

.bottom-section .contain {
    line-height: 24px;
    margin-bottom: 15px;
}

.bottom-contain a h3 {
    text-align: start;
    font-size: 16px;
    color: var(--yellow);
}

.contain span {
    font-size: 18px;
    font-weight: 600;
    color: var(--darkblue);
    margin-left: 30px;
    font-family: var(--roboto);
}